<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/lee">Lee</a></li>
        <li><a href="/mike">Mike</a></li>
        <li><a href="/sam">Sam</a></li>
        <li><a href="/jill">Jill</a></li>
    </ul>
</nav>
